.main {
  background: black;
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  place-items: center;
  padding-block: 40px;
}

.box {
  width: calc(100% - 60px);
  max-width: 400px;
  aspect-ratio: 55 / 88;
}